body {
  height: calc(100% - 65px);
}

.setting label {
  text-transform: capitalize;
}
.ui.menu.main-menu {
  margin-bottom: 0;
}
.ui.menu.side-menu {
  top: 65px;
  z-index: 1;
}
.ui.segment.main-content {
  margin-top: 65px;
  margin-left: 210px;
}
.ui.segment.app-segment {
  border-radius: 0;
  margin-top: 0;
  border-bottom: none;
  border-left: none;
}
